.note.new {
	background-color: var(--yellow);
}

textarea {
	width: 100%;
	border: none;
	resize: none;
	font-size: 1.25rem;
	background-color: var(--yellow);
}

textarea:focus {
	outline: none;
}

textarea::placeholder {
	color: black;
}

.save-btn {
	color: black;
	padding: 0.5rem;
	border-radius: 50%;
	background-color: var(--white);
	font-size: 2rem;
}

#dark .note.new,
#dark textarea {
	background-color: var(--dark-yellow);
}

#dark textarea::placeholder {
	color: var(--white);
}

#dark .save-btn {
	color: var(--dark-yellow);
}
