.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.switch-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding-right: 2px;
	color: var(--white);
}

#dark .switch-icon {
	color: var(--dark-bg);
}
