.note {
	background-color: #fdfd66;
	min-height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: 1rem;
	padding: 1rem;
}

.note p {
	display: inline;
	word-break: break-word;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

small {
	font-size: 0.8rem;
}

.delete-icon {
	font-size: 1.5rem;
	cursor: pointer;
}
