.note {
	background-color: #fdfd66;
	height: 15rem;
	width: min(24rem, 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: 1rem;
	padding: 1rem;
}

.note-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 1rem;
}
