.searchbar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.25rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: solid rgb(192, 192, 192);
}

.search-icon {
	font-size: 1.5rem;
}

.searchbar input {
	border: none;
	width: 100%;
	font-size: 1.25rem;
}

#dark .searchbar input {
	background-color: #1b1c1e;
}

#dark input::placeholder {
	color: #fffcff;
}

.searchbar input:focus {
	outline: none;
}
