.searchbar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
	padding: 0.75rem;
	border-radius: 0.5rem;
	background-color: var(--light-grey);
}

.search-icon {
	font-size: 1.5rem;
}

.searchbar input {
	border: none;
	width: 100%;
	font-size: 1.25rem;
	background-color: var(--light-grey);
}

.searchbar input:focus {
	outline: none;
}

#dark .searchbar,
#dark .searchbar input {
	background-color: var(--dark-grey);
}

#dark input,
#dark input::placeholder {
	color: var(--white);
}
